parameters:
    level: 6
    tmpDir: .phpstan/cache
    bootstrapFiles:
        - vendor/autoload.php
    paths:
        - config
        - src
        - tests
    parallel:
        maximumNumberOfProcesses: 1

